[Desktop Entry]
Comment[en_US]=Joystick-aware screen waker
Comment=Joystick-aware screen waker
Exec=/usr/bin/joystickwake
GenericName[en_US]=
GenericName=
Icon=input-gaming
MimeType=
Name[en_US]=Joystick Wake
Name=Joystick Wake
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
