[Desktop Entry]
Categories=Network;InstantMessaging
Comment=User-first, privacy focused chat platform.
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=revolt-desktop chat.revolt.RevoltDesktop
Icon=chat.revolt.RevoltDesktop
Name=Revolt
StartupWMClass=revolt-desktop
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.26
X-Flatpak=chat.revolt.RevoltDesktop
