[Desktop Entry]
Name=Newsflash
GenericName[de_DE]=RSS-Reader
GenericName[es]=Lector RSS
GenericName[pt_BR]=Leitor RSS
GenericName[uk]=Читанка RSS
GenericName[he]=קורא RSS
GenericName[zh_CN]=RSS 阅读器
GenericName[fr]=Lecteur de flux RSS
GenericName[tr]=RSS Okuyucu
GenericName[ru]=RSS-ридер
GenericName[it]=Lettore RSS
GenericName[fi]=RSS-syötteenlukija
GenericName[pl]=Czytnik RSS
GenericName[hu]=RSS Olvasó
GenericName[nl]=RSS-lezer
GenericName[cs]=Čtečka RSS
GenericName[ar]=قارئ آر‌إس‌‪إس
GenericName[pt]=Leitor RSS
GenericName[zh_Hant]=RSS 閱讀器
GenericName[hi]=RSS Reader
GenericName=RSS Reader
Comment[de_DE]=Schneller als der Blitz, um Ihnen die neusten Nachrichten Ihrer abonnierten Feeds zu liefern
Comment[es]=Más rápido que el rayo para ofrecerle las últimas noticias de sus canales suscritos
Comment[pt_BR]=Mais rápido que o flash para fornecer as últimas notícias de seus feeds inscritos
Comment[uk]=Швидко надає вам останні новини з каналів, на які ви підписані
Comment[he]=יותר מהיר מברק בכל הנוגע להעברת החדשות העדכניות ביותר מהערוצים אליהם נרשמת
Comment[zh_CN]=以超越闪光的速度向您递送来自订阅的最新新闻
Comment[fr]=Plus rapide que le flash pour vous livrer les dernières nouvelles de vos flux
Comment[tr]=Abone olduğunuz beslemelerden en son haberleri size ulaştırmak konusunda şimşekten daha hızlı
Comment[ru]=Быстрее, чем вспышка, доставляет вам последние новости из подписанных вами каналов
Comment[it]=Più veloce di un lampo nella consegna delle ultime notizie dai propri feed
Comment[fi]=Salamannopeat päivitykset suosikkisyötteistäsi
Comment[pl]=Szybszy niż błysk w dostarczaniu najświeższych wiadomości z zasubskrybowanych kanałów
Comment[hu]=Villámgyorsan hozza el a legfrissebb híreket a feliratkozott hírforrásaiból
Comment[nl]=Bezorgt u flitsend snel het laatste nieuws van uw feed-abonnementen
Comment[cs]=Nejnovější zprávy ze sledovaných kanálů vám doručí rychleji než blesk
Comment[ar]=يخبرك بآخر الأخبار من الموجزات التي اشتركت فيها، وهو سريع شديد السرعة
Comment[pt]=Mais rápido que o flash para fornecer as últimas notícias dos seus feeds inscritos
Comment[zh_Hant]=比閃電還快地將您摘要的最新新聞送到您手中
Comment[hi]=आपके सब्स्क्राइब्ड फ़ीड से नवीनतम समाचार आप तक पहुंचाने के लिए फ़्लैश से भी तेज़
Comment=Faster than flash to deliver you the latest news from your subscribed feeds
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=io.gitlab.news_flash.NewsFlash io.gitlab.news_flash.NewsFlash
Terminal=false
X-GNOME-UsesNotifications=true
Categories=GNOME;GTK;Network;Feed;
Keywords[de_DE]=Gnome;GTK;RSS;Feed;Nachrichten;
Keywords[es]=Gnome;GTK;RSS;Canal;
Keywords[pt_BR]=Gnome;GTK;RSS;Feed;Notícias;
Keywords[uk]=Gnome;GTK;RSS;Feed;гном;Стрічка;ГТК;РСС;новини;
Keywords[he]=Gnome;GTK;RSS;ערוץ;הזנה;עדכונים;חדשות;כתבות;כתבה;ידיעה;
Keywords[zh_CN]=Gnome;GTK;RSS;Feed;订阅;新闻;
Keywords[fr]=Gnome;GTK;RSS;Flux ;
Keywords[tr]=Gnome;GTK;RSS;Feed;Besleme;Haber;Newsflash;
Keywords[ru]=Gnome;GTK;RSS;Feed;Канал;
Keywords[it]=Gnome;GTK;RSS;Feed;Notizie;
Keywords[fi]=Gnome;GTK;RSS;Feed;syöte;
Keywords[pl]=Gnome;GTK;RSS;kanał;
Keywords[hu]=Gnome;GTK;RSS;Hírforrás;
Keywords[nl]=GNOME;GTK;RSS;feed;nieuws;
Keywords[cs]=Gnome;GTK;RSS;Feed;kanál;
Keywords[ar]=جنوم;جي تي كي;آر إس إس;موجز;
Keywords[pt]=Gnome;GTK;RSS;Feed;
Keywords[zh_Hant]=Gnome;GTK;RSS;摘要;
Keywords[hi]=Gnome;GTK;RSS;Feed;फ़ीड;
Keywords=Gnome;GTK;RSS;Feed;
Icon=io.gitlab.news_flash.NewsFlash
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=io.gitlab.news_flash.NewsFlash
