[Desktop Entry]
Categories=GTK;Network;
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/ruben/.local/share/ice/icons/LeasDungeon.png" firefox --class WebApp-LeasDungeon7024 --name WebApp-LeasDungeon7024 --profile /home/ruben/.local/share/ice/firefox/LeasDungeon7024 --no-remote "https://lea.pet"'
Icon=/home/ruben/.local/share/ice/icons/LeasDungeon.png
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Lea's Dungeon
StartupNotify=true
StartupWMClass=WebApp-LeasDungeon7024
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
X-WebApp-Browser=Firefox
X-WebApp-CustomParameters=
X-WebApp-Isolated=true
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-URL=https://lea.pet
