[Unit]
Description=Create SDDM user on system boot

[Service]
Type=oneshot
ExecStart=/usr/sbin/groupadd -r sddm
ExecStart=/usr/sbin/useradd -r -g sddm -c "SDDM Greeter Account" -d /var/lib/sddm -s /usr/sbin/nologin sddm
ExecStart=/usr/bin/systemctl disable /usr/lib/systemd/system/create-sddm-user.service
