[Unit]
Description=hMazurek theme self-care and maintenance timer service

[Timer]
OnCalendar=Mon *-*-* 00:00:00
RandomizedDelaySec=3600
Persistent=true
Unit=theme-maintenance.service

[Install]
WantedBy=timers.target
