#!/bin/zsh
#
# .aliases - Set whatever shell aliases you want.
#

# alias aliasname="command"

# kitty
alias s="kitten ssh"

# alias average commands to modern unix-util counterpartrs
alias cd="z"
alias grep="rg"
alias find="fd"
alias df="duf"
# different listing/ls styles
alias ls="eza -lh --icons=always --hyperlink"
alias l="eza"
alias la="eza -1"
alias lt="eza -T"
alias cat="bat --paging=never"

# custom aliases
alias music="ncmpcpp"
alias ublue-update="systemctl start ublue-update.service"
alias wttr="curl 'wttr.in/?0' && curl 'wttr.in/?0?m'"
alias please="sudo"
alias fucking="sudo"
alias for-the-love-of-god="sudo"
